<div style="display: none" class="token" _token=""></div>
<div style="float: left">
    <table class="layui-hide" id="select_category" lay-filter="select_category"></table>
</div>
<div style="float: left;text-align: center;margin-left: 5%;margin-top: 10px;">
    <div class="layui-block">
        <label class="layui-form-label">年月范围</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="month" placeholder=" - ">
        </div>
    </div>
    <br>
    <button class="layui-btn batch_add" data-type="batch_add">确定</button>
</div>


<link rel="stylesheet" href="/js/layui/css/layui.css">
<script  src="/js/jquery.min.js"></script>
<script src="/js/layui/layui.js"></script>
<script  src="/js/common.js"></script>
<script src="/js/admin/consume/category.js"></script>